
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    overflow: hidden;
}
html,body,.container{
    height: 100%;
}
.container{
    width: 100%;

}
.panel{
    display: inline-block;
    height:100%;
    width: 80%;
    margin: 0 auto;
    position: relative;
    border-radius: 5px;
    border: inset 20px gold;
    border-right-color: #dcc027;
    border-top-color: #f9c30d;
}
.list{
    display: inline-block;
    float: left;
    border: 4px solid cornflowerblue;
    width:calc(20%);
    height: 100%;
    background: darkslategray;
}
.roomBar{
    width: 100%;
    background:#efefef ;
    height: 10%;
    min-height: 30px;
    border: 1px solid cornflowerblue;
}
.content{
    min-height: 16px;
}
.chatroom{
    border: 1px solid cornflowerblue;
}
.touxiang{
    display: inline-block;
    width: 40px;
    height: 40px;
    background-position: center;
    background-size: cover;
}
.rooms{
    width: 100%;
    overflow-y: auto;
    /*background:lightgray ;*/
    height: 90%;
    border: 2px solid cornflowerblue;
}
.chat{
    width: 100%;
    height: 80%;
}
.ctrPanel{
    position: absolute;
    bottom: 0;
    padding: 10px 0 0 0;
    border-radius: 5px;
    width: 100%;
    height: 20%;
}
.input{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 75%;
}
.msg.left{
    text-align: left;
}
.msg.right{
    text-align: right;
}
.msg{
    margin-top: 10px;
}
.content{
    display: inline-block;
    word-break: break-all;
    width: 30%;
    border: 2px solid lightseagreen;
    position: relative;
    min-height: 20px;
    background: green;
    color: white;
    border-radius: 6px;
    box-shadow: 3px 6px 12px gray;
    padding: 5px;
}
/*
.content::before{
    box-sizing: border-box;
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    border: 10px solid transparent;
    border-right: 10px solid lightseagreen;
    right: 100%;

}*/

.username{
    display: inline-block;
    word-break: break-all;
    width: 50px;
    text-align: center;
    padding-top: 10px;
}
.msg .touxiang,.msg .username{
    display: inline-block;
    vertical-align: top;
}
.ctrlBar{
    width: 100% ;
    height: 25%;
    background: #ab9000;
    position: absolute;
    top: 0;
}

.ctrlBarItem{
   float: right;
    margin-left: 20px;
    display: inline-flex;
    text-align: center;
    /*border: 1px solid wheat;*/
    padding: 2px;
    background: gold;
    border: 3px outset #0df7e5;
}
/********************左侧信息列表******************************/
.top{
    display: table;
    width: 100%;
    border: 1px solid white;
}
.top>*{
    display: table-cell;
}
.top .userImg{
    width: 40px;
    height: 40px;
    border-right: 1px solid white;
    background: white;
}
.top .userImg img{
    width: 100%;
}
.userInfo{
    vertical-align: top;
    color: white;
}
.autograph{
    word-break: break-all;
    white-space: nowrap;
}
/**********************modal*************/
.modal{
    position: fixed;
    height: 100%;
    width: 100%;
    z-index:100;
    display: none;
}
.imgList>img{
    border: 1px solid aquamarine ;
    margin: 10px;
    cursor: pointer;
    /*cursor: e-resize;*/
}
.imgList{
    text-align: center;
    background: limegreen;
    width: 20%;
    position: relative;
    left: 20%;
    transition: all 1s;
    /*height: 100%;*/
}
.imgList .title{
    width: 100%;
    height: 30px;
    color: white;
    border: 1px solid green;
    line-height: 30px;
}

