*{
    box-sizing: border-box;

}
*{
    padding: 0;
    margin: 0;
}
ul{
    list-style: none;
}
a,a:hover{
    text-decoration: none;
    color: inherit;
}
.container{
    margin: 0 auto;
    max-width: 1180px;
}
.header{
    width: 100%;
    background: pink;
}
.header>ul{
    display: table;
    width: 100%;
   min-width: 800px;
    height: 40px;
}
.header>ul>li{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: #00AA88;

}
.header>ul>li>a{
   padding: 10px;
    transform: rotate(0deg);
}
.header>ul>li>a:hover{
    display: inline-block;
    padding: 10px;
    border-width: 1px;
    -webkit-box-shadow:  1px 1px 3px gray;
    -moz-box-shadow:  1px 1px 3px gray;
    box-shadow:  1px 1px 3px gray;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    transition: all 1s;
}