@charset "utf-8";
@font-face {
    font-family: fzheng;
    font-weight: normal;
    font-style: normal;

    src: url('./fangzheng.ttf') format('truetype');
}
html,body{height:100%;-webkit-text-size-adjust:100%;-webkit-tap-highlight-color:rgba(0,0,0,0)}
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td,img{margin:0;padding:0}
body,button,input,select,textarea{font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;border:none}
textarea,input,select{-webkit-appearance:none}
body{min-width:320px;overflow-x:hidden}
h1,h2,h3,h4,h5,h6{font-size:100%}
address,cite,dfn,em,var{font-style:normal}
code,kbd,pre,samp{font-family:couriernew,courier,monospace}
small{font-size:12px}
em,i{font-style:normal}
ul,ol,li{list-style:none}
video{background-color:#000}
a{text-decoration:none;-webkit-tap-highlight-color:transparent;tap-highlight-color:transparent}
a:link{text-decoration:none}
a:visited{text-decoration:none}
a:hover{text-decoration:none}
a:active{text-decoration:none}
sup{vertical-align:text-top}
sub{vertical-align:text-bottom}
legend{color:#000}
fieldset,img{border:0}
img{max-width:100%;vertical-align:middle}
button,input,select,textarea{font-size:100%;-webkit-tap-highlight-color:rgba(0,0,0,0)}
table{border-collapse:collapse;border-spacing:0}
.display-box{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:-moz-box;display:flex}
.box-flex{-webkit-box-flex:1;-webkit-flex:1;-ms-flex:1;-moz-box-flex:1;flex:1}
.box-siz{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.over-ell{display:block;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
body{height:auto;color:#626262;font-size:1em;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:inherit|grayscale;}
a{color:#626262}
.domeBlack{position:fixed;top:0;left:0;right:0;bottom:0;z-index:2002;background-color:rgba(0,0,0,0.6);display:none;}
.loading {background:rgba(0,0,0,0.6) url(pika.gif) center center no-repeat; background-size: 80px 80px;}

.qixi-cell { 
	width: 100%;
	min-width: 320px;
	max-width: 640px;
	position: relative;
	margin: 0 auto;
}
.qixi-cell .qixi-form {
	position: absolute;
	top: 64%;
	left: 26%;
	z-index: 2;
	width: 48%;
	height: 26%;
	color: #383a39;
	line-height: 25px;
}
.qixi-input {
	padding-bottom: 10px;
	
}

.mir-cell-input {
	border: 1px solid #FFFFFF;
	height: 40px;
	line-height: 40px;
	padding: 0 5px;
	width: 100%;
	/*max-width: 200px;*/
	text-align: center;
	background: transparent;
	color: white;
	border-radius: 3px;
}
.mir-cell-input:focus {
	/*border: 3px solid transparent;*/
	outline: 1px solid transparent;
}
.mir-cell-checked {
    width: 21px;
    height: 21px;
    margin: 0 6px;
    background-image: url(icon-checked.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 43px;
    border: none;
    outline: none;
    -webkit-appearance: none;
}
.mir-cell-checked:checked {
    background-position: -22px 0;
}
.qixi-btn {
	background: -webkit-linear-gradient(top, #FAE000, #DEFEBC);
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 16px;
	color: #23B7AD;
	background-color: #f46a80;
	/*box-shadow: 0 2px 0 #84323a;*/
	border-radius: 5px;
	margin-top: 5px;
	font-weight: bold;
}
::-webkit-input-placeholder{
	color: #FFFFFF;
}
.news{
	width: 100%;
	min-width: 320px;
	max-width: 640px;
	position: relative;
	margin: 0 auto;
}
.imgBox { 
	position: absolute;
	background-color: #e5dac6;
	display: none;
	top:18%
}
.news .bg-img{
	/*position: absolute;*/
	display: none;
	width: 100%;
	
}

.imgBox span { display: table-cell; vertical-align: middle;}
/*popup样式*/
.popup-msg{padding:10px 15px;-webkit-border-radius:5px;border-radius:5px;background-color:rgba(0,0,0,0.8);font-size:13px;color:#fff;position:fixed;top:50%;left:50%;-webkit-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);transform:translate(-50%,-50%);}
